---
import BaseLayout from '$layouts/BaseLayout.astro';
import HeroImgPC from '$images//effects-of-miranest/pc/effect_img_(9).png';
import HeroImgSP from '$images//effects-of-miranest/sp/effects-sp10.png';

import Img37 from "$images//effects-of-miranest/pc/effect_img_(37).png";
import Img1 from "$images//effects-of-miranest/pc/effect_img_(1).png";
import Img12 from "$images//effects-of-miranest/pc/effect_img_(12).png";
import Img11 from "$images//effects-of-miranest/pc/effect_img_(11).png";
import Img33 from "$images//effects-of-miranest/pc/effect_img_(33).png";
import Img29 from "$images//effects-of-miranest/pc/effect_img_(29).png";
import Img3 from "$images//effects-of-miranest/pc/effect_img_(3).png";
import Img4 from "$images//effects-of-miranest/pc/effect_img_(4).png";
import Img13 from "$images//effects-of-miranest/pc/effect_img_(13).png";
import Img17 from "$images//effects-of-miranest/pc/effect_img_(17).png";
import Img9sp from '$images//effects-of-miranest/sp/effects-sp9.png';
import Img8sp from '$images//effects-of-miranest/sp/effects-sp8.png'
---
<style lang="scss">
        .second-header {
            display: inline-block;
            left: 32%;
            width: 30%;
            top: 50%;
            text-align: left;
            letter-spacing: 0.1rem;
        }
        .grid-01 {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow:scroll;
        }

</style>
<BaseLayout>

   <section class="relative">
            <div class="absolute top-0 px-3 md:px-32 flex w-full h-full flex items-center">
            <h1 class="text-md md:text-4xl w-1/2 md:w-[27%] md:leading-[70px] text-left">トップブリーダーも絶賛！ 天然アナツバメの巣がもたらす驚きの効果</h1>
            </div>
             <picture>
                <source srcset={HeroImgSP} type="image/png" media="(max-width:480px)" />
                <img src={HeroImgPC} class="w-full"/>
            </picture>
    </section>

    <section class="mt-10 md:mt-32 md:px-32">
        <h2 class="text-h2 md:text-4xl text-main-light-green text-center mb-7 px-3 md:px-auto">トップブリーダーも絶賛！<br>天然アナツバメの巣「ミラネスト」の驚きの効果</h2>

         <div class="mt-10 md:mt-12 flex flex-col-reverse md:flex-row py-20 gap-5 md:gap-20 px-3 md:px-20 bg-main-gray shadow-xl">
                <div class="md:w-3/6 w-full px-2 md:px-auto">
                <h2 class="mb-5 text-h2 md:text-3xl">世界初！天然アナツバメの巣がペットのアトピーなどを治療します</h2>
                <p class="text-base">ツバメの巣は多くのニセモノや養殖品が市場に出回っています。ミラネストは天然にこだわり、世界最高峰の品質と評されるマレーシア産天然アナツバメの巣だけを使用。代表自らが『日本人唯一のツバメの巣ハンター』として秘境まで足を運び、採取しています。</p>
                </div>
                <img src={Img37} alt="" class="md:w-3/6 w-full">
         </div>
    </section>


    <div class="my-5 grid-01 mx-auto md:mt-44">
                <img src={Img1} alt="" class="w-full">
                <img src={Img12} alt="" class="w-full">
                <img src={Img11} alt="" class="w-full">
    </div>
    <section class="mt-10 md:mt-32 py-12 px-3 md:px-52">
        <h2 class="text-h2 md:text-4xl text-main-light-green text-center mb-7">ミラネストがもたらすミラクルな効果<br>ミラネスト ビフォーアフター</h2>
        <div class="bg-main-green h-1 my-4 md:my-12"></div>
        <h3 class="text-3xl text-main-orange mb-5">マリちゃん（ダックスフンド）</h3>
        <p class="text-base">お顔、お尻、背中まで毛が抜け落ちてしまい、皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。お顔、お尻、背中まで毛が抜け落ちてしまい、皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。</p>
        <div class="flex items-center mt-5 gap-5 justify-center">
                  <div class="text-center">
                    <img  src={Img33} alt="">
                    <p>Before </p>
                  </div>
                  <div class="text-center">
                    <img  src={Img29} alt="">
                    <p>after</p>
                  </div>
                </div>
    </section>

    <section class="md:mt-10 md:py-12 px-3 md:px-52">
        <h3 class="text-3xl text-main-orange mb-5">フォークちゃん（ノーフォークテリア）</h3>
        <p class="text-base">お顔、お尻、背中まで毛が抜け落ちてしまい、皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。お顔、お尻、背中まで毛が抜け落ちてしまい、皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。</p>
        <div class="flex items-center mt-5 gap-5 justify-center">
                  <div class="text-center">
                    <img  src={Img3} alt="">
                    <p>Before </p>
                  </div>
                  <div class="text-center">
                    <img  src={Img4} alt="">
                    <p>after</p>
                  </div>
                </div>
    </section>

    <section class="hidden md:block mt-10  py-12 px-3 md:px-52">
        <div class="grid grid-cols-2 mt-5 gap-5 w-full">
                  <div class="p-5 bg-main-light-yellow">
                    <div class="flex items-center justify-center">
                        <img src={Img33} class="w-5/12"/>
                         <span class="chevron right w-8 h-8"></span>
                        <img src={Img29} class="w-5/12"/>
                     </div>
                       <p class="text-main-orange text-base my-5">アトピー肌・毛抜け</p>
                        <p class="text-base">皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。</p>
                        </div>
                  <div class="p-5 bg-main-light-yellow">
                  <div class="flex items-center justify-center">
                        <img src={Img33} class="w-5/12"/>
                         <span class="chevron right w-8 h-8"></span>
                        <img src={Img29} class="w-5/12" />
                   </div>
                   <p class="text-main-orange text-base my-5">アトピー肌・毛抜け</p>
                   <p class="text-base">皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。</p>
                  </div>
        </div>
         <div class="flex items-center mt-5 gap-5 w-full col-2 mt-12">
                  <div class="p-5 bg-main-light-yellow">
                    <div class="flex items-center justify-center">
                        <img src={Img33} class="w-5/12"/>
                         <span class="chevron right w-8 h-8"></span>
                        <img src={Img29} class="w-5/12"/>
                     </div>
                       <p class="text-main-orange text-base my-5">アトピー肌・毛抜け</p>
                        <p class="text-base">皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。</p>
                        </div>
                  <div class="p-5 bg-main-light-yellow">
                  <div class="flex items-center justify-center">
                        <img src={Img33} class="w-5/12"/>
                         <span class="chevron right w-8 h-8"></span>
                        <img src={Img29} class="w-5/12" />
                   </div>
                   <p class="text-main-orange text-base my-5">アトピー肌・毛抜け</p>
                   <p class="text-base">皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。皮膚も黒ずんでいましたが、ゼリーを食べだして26日で毛並みもきれいになりました。</p>
                  </div>
        </div>

                    <div class="flex justify-center mt-12">
        <a href="../whatis" class="w-10/12 md:w-5/12 mx-auto text-center bg-main-light-green text-white shadow-xl px-3 py-3 inline-block text-xl">もっと見る</a>
        </div>
    </section >

    <section class="mt-10 md:mt-32 py-12 px-3 md:px-32">
    <span id="secret-story"></span>
        <h2 class="text-h2 md:text-4xl text-main-light-green text-center mb-7">多くの悩めるペット達を救いたい！ミラネストの誕生秘話</h2>
         <div class="md:mt-10 flex flex-col-reverse md:flex-row md:py-12 gap-20 px-3 md:px-20 ">
                <div class="w-full md:w-3/6">
                <h2 class="mb-5 md:text-3xl">世界初！天然アナツバメの巣がペットのアトピーなどを治療します</h2>
                <p class="text-base">ツバメの巣は多くのニセモノや養殖品が市場に出回っています。ミラネストは天然にこだわり、世界最高峰の品質と評されるマレーシア産天然アナツバメの巣だけを使用。代表自らが『日本人唯一のツバメの巣ハンター』として秘境まで足を運び、採取しています。</p>
                </div>
                <img src={Img13} alt="" class="w-full md:w-3/6">
         </div>
           <div class="md:hidden px-12 my-12">
            <img src={Img8sp} alt="" class="w-full">
            <div class="flex justify-center mt-12">
            <a href="../whatis" class="w-full mx-auto text-center bg-main-light-green text-white shadow-xl px-3 py-3 inline-block text-xl">購入する</a>
            </div>
          </div>
      </section>

      <section class="md:px-32">

         <div class="bg-main-light-yellow py-12 px-3 md:px-20 shadow-xl">
            <h2 class="text-h2 md:text-3xl text-main-light-green mb-5 md:mb-12">アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。</h2>
            <p>コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。</p>

             <div class="flex justify-center mt-12">
            <a href="../whatis" class="w-10/12 md:w-5/12 mx-auto text-center bg-main-light-green text-white shadow-xl px-3 py-3 inline-block text-xl">ミラネストについて詳しく</a>
            </div>
         </div>
    </section>

  <section class="mt-32 relative">
            <picture >
              <source srcset={Img9sp} type="image/png" media="(max-width:480px)" />
              <img src={Img17} class="w-full">
          </picture>
            <div class="px-3 md:px-52 py-12 md:p-0 top-0 h-full flex items-end md:items-center w-full absolute ">
                <div class="w-full md:w-1/2 leading-[0.1rem] text-left ">
                <h2 class="text-h2 md:text-3xl mb-5 ">天然のツバメの巣についてを詳しくへのリンクです。ペット用栄養補助食品に使用している唯一のブランドです。</h2>
                <p class="text-base">最も希少価値の高いマレーシア山間部で採れた、天然アナツバメの巣を使用 国内外のセレブリティに愛される「美巣」は、本物だけをお届けすることをお約束します。</p>
                    <div class="flex justify-center mt-12">
                        <a href="../whatis" class="w-10/12 md:w-8/12 mx-auto text-center bg-main-light-green text-white shadow-xl px-3 py-3 inline-block text-xl">詳しく</a>
                        </div>
                </div>
            </div>
    </section>



</BaseLayout>