---
import BaseLayout from '$layouts/BaseLayout.astro';
import HeroImgPC from '$images/malaysia/pc/img-31.png';
import HeroImgSP from '$images/malaysia/sp/img-1.png';


import Img23 from "$images/research/pc/img-23.png";
import Img3sp from "$images/research/sp/img-3.png";

import Img8 from "$images/malaysia/pc/img-8.png";
import Img4 from "$images/malaysia/pc/img-4.png";
import Img5 from "$images/malaysia/pc/img-5.png";
import Img11 from "$images/malaysia/pc/img-11.png";
import Img1 from "$images/malaysia/pc/img-1.png";
import Img12 from "$images/malaysia/pc/img-12.png";
import Img6 from "$images/malaysia/pc/img-6.png";
import Img7 from "$images/malaysia/pc/img-7.png";




---
<style lang="scss">
        .second-header {
            display: inline-block;
            left: 32%;
            width: 30%;
            top: 50%;
            text-align: left;
            letter-spacing: 0.1rem;
        }
        .grid-01 {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow:scroll;
        }

</style>
<BaseLayout>

   <section class="relative">
            <div class="absolute top-0  md:px-32 flex w-full h-full flex items-center">
            <h1 class="text-md md:text-4xl w-1/2 md:w-[27%] md:leading-[70px] text-left">大切な家族だからこそ本当に体にいいものを食べさせたい</h1>
            </div>
             <picture>
                <source srcset={HeroImgSP} type="image/png" media="(max-width:480px)" />
                <img
                alt="大切な家族だからこそ本当に体にいいものを食べさせたい"
                decoding="async"
                width="1451"
                height="967"
                src={HeroImgPC} class="w-full"/>
            </picture>
    </section>

    <section class="mt-10 md:mt-32 md:px-52">
        <h2 class="text-h2 md:text-4xl  text-center mb-7 px-3 md:px-auto">2000年以上続くツバメの巣を未来へ残す使命 エムスタイルジャパンの〇〇○</h2>

         <div class="mt-10 flex flex-col-reverse md:flex-row py-12 gap-5 md:gap-20 px-3 md:px-5 bg-main-gray shadow-xl">
                <div class="md:w-3/6 w-full px-2 md:px-auto">
                <h2 class="mb-5 text-h2 md:text-3xl">一度使用した巣は使わない習性を持つ、アナツバメの巣</h2>
                <p class="text-base">ボルネオ島は世界屈指の動植物のメッカです。しかし実際は、ここでも環境破壊が進み、マレーシアを代表するオラウータンなども絶命危惧種に指定されています。もちろん、ツバメたちも保護対象となっています。</p>
                </div>
                <img src={Img8} alt="" class="md:w-3/6  w-full"/>
         </div>
    </section>

    <section class="mt-10 md:mt-32 md:px-52">
        <h2 class="text-h2 md:text-4xl  text-center mb-7 px-3 md:px-auto">2000年以上続くツバメの巣を未来へ残す使命 エムスタイルジャパンの〇〇○</h2>

         <div class="mt-10 flex flex-col-reverse md:flex-row py-12 gap-5 md:gap-20 px-3 md:px-5 bg-main-gray shadow-xl">
                <div class="md:w-3/6 w-full px-2 md:px-auto">
                <h2 class="mb-5 text-h2 md:text-3xl">とまらない環境破壊。〇〇で〇〇で〇〇で〇〇で</h2>
                <p class="text-base">ボルネオ島は世界屈指の動植物のメッカです。しかし実際は、ここでも環境破壊が進み、マレーシアを代表するオラウータンなども絶命危惧種に指定されています。もちろん、ツバメたちも保護対象となっています。</p>
                </div>
                <img src={Img4} alt="" class="md:w-3/6  w-full"/>
         </div>


         <div class="mt-10 flex flex-col-reverse md:flex-row py-12 gap-5 md:gap-20 px-3 md:px-5 bg-main-gray shadow-xl">
                <div class="md:w-3/6 w-full px-2 md:px-auto">
                <h2 class="mb-5 text-h2 md:text-3xl">ツバメを守る男たち。〇〇で〇〇で〇〇で〇〇で</h2>
                <p class="text-base">コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。</p>
                </div>
                <img src={Img5} alt="" class="md:w-3/6  w-full"/>
         </div>
    </section>



      <h1 class="bg-golden text-white py-2 md:py-12 px-5 md:px-52 text-h2 md:text-4xl text-center mt-32">至宝の食材、その裏側。人の目と手で厳しく品質を管理しています。</h1>
      <img src={Img11} alt="" class="w-full md:-mt-12"/>

       <section class="mt-10 md:mt-32 md:mx-52">
        <h2 class="text-3xl md:my-12">アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。</h2>
        <p class="text-base">コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。</p>
       </section>

      <div class="bg-main-gray mt-32 py-12">
       <section class="mx-52">

          <h1 class="bg-[#909090] text-white py-12 px-10 text-4xl text-center">養殖物のツバメの巣の現状 栄養素が全くないツバメの巣の理由とは</h1>
          <p class="my-12 text-3xl"><span class="text-[#8D0000]">養殖物のツバメの巣には栄養素が少なく</span>、アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。アナツバメの巣には【糖鎖】を正常な状態○○○です。</p>
          <p>コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。</p>
       </section>
       </div>
       <section class="mt-10 md:mt-32 md:mx-32">
        <div class="grid grid-cols-4 gap-20">

        <div class="border-[#830000] border-2 p-3 text-[#830000]">
          <h3 class="border-b-2 py-3 mb-3  border-[#830000] text-3xl">着色料を使用</h3>
          <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
        </div>

         <div class="border-[#830000] border-2 p-3 text-[#830000]">
          <h3 class="border-b-2 py-3 mb-3  border-[#830000] text-3xl">着色料を使用</h3>
          <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
        </div>

         <div class="border-[#830000] border-2 p-3 text-[#830000]">
          <h3 class="border-b-2 py-3 mb-3  border-[#830000] text-3xl">着色料を使用</h3>
          <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
        </div>

         <div class="border-[#830000] border-2 p-3 text-[#830000]">
          <h3 class="border-b-2 py-3 mb-3  border-[#830000] text-3xl">着色料を使用</h3>
          <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
        </div>

        </div>

       </section>
       <h1 class="bg-main-brown text-white py-2 md:py-12 px-5 md:px-52 text-h2 md:text-4xl text-center mt-32">エムスタイルジャパンが使用するツバメの巣は、ツバメの巣ハンターが採取した天然アナツバメの巣</h1>

         <div class="relative">
         <picture >
              <source srcset={Img3sp} type="image/png" media="(max-width:480px)" />
              <img src={Img1} class="w-full md:-mt-12">
          </picture>
          <div class="left-1/2 md:left-[32%] px-3 py-5 w-full md:w-[40%] top-[15%] md:top-0 text-left leading-[0.1rem] transform -translate-x-1/2 translate-y-1/2 absolute ">
              <h2 class="text-h2 md:text-3xl mb-5 ">安心・安全にこだわった、国産のプレミアムフード○○○○○○○○です。</h2>
              <p class="text-base">美巣研究所では、ツバメの巣が持つ力を徹底的に研究しています。美巣の研究力で安心・安全な健康食品、化粧品開発はもちろんのこと、豊かな健康と美しさを実現するために、新しい科学領域にも挑戦しています。</p>
            </div>
        </div>

          <section class="mt-10 md:mt-32 md:px-52">
        <h2 class="text-h2 md:text-4xl  text-center mb-7 px-3 md:px-auto">ミラネストのツバメの巣は 栄養素が豊富な天然100%のアナツバメの巣</h2>
        <div class="grid grid-cols-2 gap-40 mt-24">
          <div class="point-box border-2 border-main-gold-2 rounded-xl p-5">
                        <h4 class="text-main-gold-2 border-b border-main-gold-2 text-center text-h2">着色料を使用してません</h4>
                        <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
          </div>
          <div class="point-box border-2 border-main-gold-2 rounded-xl p-5">
                        <h4 class="text-main-gold-2 border-b border-main-gold-2 text-center text-h2">着色料を使用してません</h4>
                        <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
          </div>

            <div class="point-box border-2 border-main-gold-2 rounded-xl p-5">
                        <h4 class="text-main-gold-2 border-b border-main-gold-2 text-center text-h2">着色料を使用してません</h4>
                        <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
            </div>

            <div class="point-box border-2 border-main-gold-2 rounded-xl p-5">
                <h4 class="text-main-gold-2 border-b border-main-gold-2 text-center text-h2">着色料を使用してません</h4>
                <p class="text-base">自然のパーフェクトフードと呼ばれるローヤルゼリーと比べても、ツバメの巣のシアル酸量は段違いの200倍です。</p>
            </div>

        </div>
    </section>

      <h1 class="bg-golden text-white py-2 md:py-12 px-5 md:px-52 text-h2 md:text-4xl text-center mt-32">美巣の心臓部分とも言える自社研究所。人の目と手で厳しく品質を管理しています。</h1>
      <img src={Img12} alt="" class="w-full "/>

        <section class="mt-10 md:mt-32 md:mx-52">
        <h2 class="text-3xl md:my-12">アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。</h2>
        <p class="text-base">コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。</p>
        <div class="mt-10 flex flex-col-reverse md:flex-row py-12 gap-5 md:gap-20">
                <div class="md:w-3/6 w-full px-2 md:px-0">
                <h2 class="mb-5 text-h2 md:text-3xl">アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。</h2>
                <p class="text-base">コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。</p>
                </div>
                <img src={Img6} alt="" class="md:w-3/6  w-full"/>
         </div>

         <div class="mt-10 flex flex-col-reverse md:flex-row py-12 gap-5 md:gap-20">
                <div class="md:w-3/6 w-full px-2 md:px-0">
                <h2 class="mb-5 text-h2 md:text-3xl">アナツバメの巣には【糖鎖】を正常な状態に戻し、免疫力を回復。</h2>
                <p class="text-base">コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。コラーゲンやエラスチン、ヒアルロン酸などを作る線維芽細胞に働きかけて細胞の成長と増殖を促進。弾力と透明感のある潤い肌を作ります。</p>
                </div>
                <img src={Img7} alt="" class="md:w-3/6  w-full"/>
         </div>
<div class="flex justify-center mt-12">
                    <a href="../whatis" class="w-10/12 md:w-4/12 mx-auto text-center bg-main-brown text-white shadow-xl px-3 py-3 inline-block text-xl">詳しく</a>
                </div>
       </section>

       <section class="mt-32 relative">
            <picture >
              <source srcset={Img3sp} type="image/png" media="(max-width:480px)" />
              <img src={Img23} class="w-full">
          </picture>
            <div class="px-3 md:px-52 top-0 h-full flex items-center w-full absolute ">
                <div class="w-1/2 leading-[0.1rem] text-left ">
                <h2 class="text-h2 md:text-3xl mb-5 ">安心・安全にこだわった、国産のプレミアムフード○○○○○○○○です。</h2>
                <p class="text-base">美巣研究所では、ツバメの巣が持つ力を徹底的に研究しています。美巣の研究力で安心・安全な健康食品、化粧品開発はもちろんのこと、豊かな健康と美しさを実現するために、新しい科学領域にも挑戦しています。</p>
                    <div class="flex justify-center mt-12">
                        <a href="../whatis" class="w-10/12 md:w-8/12 mx-auto text-center bg-main-brown text-white shadow-xl px-3 py-3 inline-block text-xl">詳しく</a>
                        </div>
                </div>
            </div>
    </section>



</BaseLayout>